/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */

.raleway-thin {
	font-family: "raleway", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.raleway-extralight {
	font-family: "raleway", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.raleway-light {
	font-family: "raleway", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.raleway-regular {
	font-family: "raleway", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.raleway-medium {
	font-family: "raleway", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.raleway-semibold {
	font-family: "raleway", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.raleway-bold {
	font-family: "raleway", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.raleway-extrabold {
	font-family: "raleway", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.raleway-black {
	font-family: "raleway", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.raleway-thin-italic {
	font-family: "raleway", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.raleway-extralight-italic {
	font-family: "raleway", sans-serif;
	font-weight: 200;
	font-style: italic;
}

.raleway-light-italic {
	font-family: "raleway", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.raleway-regular-italic {
	font-family: "raleway", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.raleway-medium-italic {
	font-family: "raleway", sans-serif;
	font-weight: 500;
	font-style: italic;
}

.raleway-semibold-italic {
	font-family: "raleway", sans-serif;
	font-weight: 600;
	font-style: italic;
}

.raleway-bold-italic {
	font-family: "raleway", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.raleway-extrabold-italic {
	font-family: "raleway", sans-serif;
	font-weight: 800;
	font-style: italic;
}

.raleway-black-italic {
	font-family: "raleway", sans-serif;
	font-weight: 900;
	font-style: italic;
}