<div id="day-popup" class="day-popup">
	<div class="day-popup-content">
			<span class="close" onclick="hideDayPopup()">&times;</span>
			<h2 id="day-popup-title"></h2>
			<div class="day-popup-columns">
					<div class="day-column day-info-column">
							<h3>Informations</h3>
							<div id="day-popup-info"></div>
					</div>
					<div class="day-column day-events-column">
							<h3>Événements</h3>
							<div id="day-popup-events"></div>
					</div>
					<div class="day-column day-zones-column">
							<h3>Zones</h3>
							<div id="day-popup-zones"></div>
					</div>
			</div>
	</div>
</div>